In [1]:
import pandas as pd

In [2]:
df_rod = pd.read_excel('Base Faturamento.xlsx',dtype={'CNPJ':object})

In [3]:
df_rod.head()

,Nome Fantasia,Razão Social,CNPJ,DS_FAIXA_FATURAMENTO,Vinci,Quality check,97?
0,CLINICA DE PSICOTERAPIA BREVE E DEPRESAO,CLINICA DOUTOR NELIO TOMBINI PSIQUIATRIA E PSI...,97260095000114,De R$3.600.001 a R$5.000.000,NaN,NaN,
1,FAZENDA DO SENHOR JESUS PACTOPOA,PACTO POA PROGRAMA DE AUXILIO COMUNITARIO TERA...,97134480000204,De R$10.000.001 a R$25.000.000,NaN,NaN,
2,CLINICA TEMPO TERAPIA MEDICA E PSICO ORGANIZAC...,PRO SANO ASSISTENCIA MEDICA LTDA,96778279000108,De R$5.000.001 a R$10.000.000,NaN,NaN,
3,UP CLINICAS ASSOCIADAS,UP UNIDADE DE PSQUIATRIA LTDA EPP,95880407000167,De R$1.800.001 a R$3.600.000,NaN,NaN,
4,INSTITUTO FERNANDO PESSOA,IAFEC INST AT FAM ESC COMPSIQPSIC E EDUSOC SIM...,94576691000110,De R$3.600.001 a R$5.000.000,NaN,NaN,

In [4]:
df_rod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nome Fantasia         414 non-null    object
 1   Razão Social          413 non-null    object
 2   CNPJ                  408 non-null    object
 3   DS_FAIXA_FATURAMENTO  411 non-null    object
 4   Vinci                 36 non-null     float64
 5   Quality check         36 non-null     object
 6   97?                   413 non-null    object
dtypes: float64(1), object(6)
memory usage: 22.8+ KB

In [5]:
df_fe = pd.read_excel('Base Faturamento_v2.xlsx',dtype={'CNPJ':object})

In [6]:
df_fe.head()

,Nome Fantasia,Raz�o Social,CNPJ,CNPJ.1,check,DS_FAIXA_FATURAMENTO,Vinci,Quality check,97?
0,CLINICA DE PSICOTERAPIA BREVE E DEPRESAO,CLINICA DOUTOR NELIO TOMBINI PSIQUIATRIA E PSI...,97260095000114,97260095000114,0,De R$3.600.001 a R$5.000.000,NaN,NaN,
1,FAZENDA DO SENHOR JESUS PACTOPOA,PACTO POA PROGRAMA DE AUXILIO COMUNITARIO TERA...,97134480000204,97134480000204,0,De R$10.000.001 a R$25.000.000,NaN,NaN,
2,CLINICA TEMPO TERAPIA MEDICA E PSICO ORGANIZAC...,PRO SANO ASSISTENCIA MEDICA LTDA,96778279000108,96778279000108,0,De R$5.000.001 a R$10.000.000,NaN,NaN,
3,UP CLINICAS ASSOCIADAS,UP UNIDADE DE PSQUIATRIA LTDA EPP,95880407000167,95880407000167,0,De R$1.800.001 a R$3.600.000,NaN,NaN,
4,INSTITUTO FERNANDO PESSOA,IAFEC INST AT FAM ESC COMPSIQPSIC E EDUSOC SIM...,94576691000110,94576691000110,0,De R$3.600.001 a R$5.000.000,NaN,NaN,

In [7]:
df_fe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nome Fantasia         414 non-null    object
 1   Raz�o Social          413 non-null    object
 2   CNPJ                  408 non-null    object
 3   CNPJ.1                407 non-null    object
 4   check                 413 non-null    object
 5   DS_FAIXA_FATURAMENTO  411 non-null    object
 6   Vinci                 36 non-null     float64
 7   Quality check         36 non-null     object
 8   97?                   413 non-null    object
dtypes: float64(1), object(8)
memory usage: 29.2+ KB

In [9]:
#CNPJ
# df_fe['cnpj_int'] = df_fe['cnpj'].apply(np.int64)
df_fe['CNPJ_string'] = df_fe['CNPJ'].astype(str)
df_fe['CNPJ_Lenght'] = df_fe['CNPJ_string'].map(lambda calc: len(calc))
print("No. of characters in each word in the given series:")
df_fe['CNPJ_Lenght'].unique() #

No. of characters in each word in the given series:

array([14, 13, 12,  3], dtype=int64)

In [11]:
df_fe[df_fe['CNPJ_Lenght']==13]

,Nome Fantasia,Raz�o Social,CNPJ,CNPJ.1,check,DS_FAIXA_FATURAMENTO,Vinci,Quality check,97?,CNPJ_string,CNPJ_Lenght
269,HOSPITAL REGER,HOSPITAL DE RETAGUARDA E REABILITACAO GERIATRI...,9646519000116,9646519000116,0,De R$1.800.001 a R$3.600.000,NaN,NaN,,9646519000116,13
270,CLINICA VIDA,CLINICA VIDA ESPECIALIDADES MEDICAS LTDA,9562798000130,9562798000130,0,De R$1.000.001 a R$1.800.000,NaN,NaN,,9562798000130,13
271,CENTRO DE REABILITACAO RESIDENCIAL TERAPEUTICO...,CENTRO DE REABILITACAO RESIDENCIAL TERAPEUTICO...,9300833000142,9300833000142,0,De R$5.000.001 a R$10.000.000,NaN,NaN,,9300833000142,13
272,CENTRO DE RECUPERACAO FILHOS DE ISRAEL,CENTRO DE RECUPERACAO FILHOS DE ISRAEL,9274462000171,9274462000171,0,De R$3.600.001 a R$5.000.000,NaN,NaN,,9274462000171,13
273,ESPACO FLOR DA MANHA,CLINICA PSIQUIATRICA E PSICOLOGICA FLOR DA MAN...,9270879000166,9270879000166,0,De R$1.000.001 a R$1.800.000,NaN,NaN,,9270879000166,13
...,...,...,...,...,...,...,...,...,...,...,...
397,CLINICA DE REPOUSO DE GOIANIA,CLINICA DE REPOUSO DE GOIANIA LTDA,1550789000117,1550789000117,0,De R$3.600.001 a R$5.000.000,NaN,NaN,,1550789000117,13
398,CLINICA PSIQUIATRICA ITUPEVA,HOSPITAL PSIQUIATRICO ITUPEVA LTDA EPP,1460084000109,1460084000109,0,De R$5.000.001 a R$10.000.000,NaN,NaN,1,1460084000109,13
399,CLINICA RECANTO,CLINICA RECANTO DE ORIENTACAO PSICOSSOCIAL EIRELI,1431250000149,1431250000149,0,De R$10.000.001 a R$25.000.000,12.0,na faixa,1,1431250000149,13
400,CLINICA SINEURO,SINEURO SERVICO INTEGRADO DE NEUROLOGIA LTDA,1220924000166,1220924000166,0,De R$3.600.001 a R$5.000.000,NaN,NaN,,1220924000166,13
401,CEDRUS,CLINICA LAGOS CENTER SAUDE LTDA ME,1061279000186,1061279000186,0,De R$3.600.001 a R$5.000.000,NaN,NaN,,1061279000186,13